<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <title>{title} | {project}</title>
</head>
<body class="text-center">
    <main role="main" class="container">
        <form id="login" method="GET" action="/login" class="form-signin">
            {content}
            <img class="mb-4" src="/static/svg/bug-fill.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">{title}</h1>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </main>
    <footer class="footer">
        <div class="container">
          <p class="float-left text-left copyright"><small>&copy; 2021 {author}</small></p>
          <p class="float-right text-right version"><small><a href="{url}">{version}</a></small></p>
        </div>
      </footer>
    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf8"></script>
    <script src="/static/js/bootstrap.bundle.min.js" type="text/javascript" charset="utf8"></script>
    <script src="/static/js/custom.js" type="text/javascript" charset="utf8"></script>
</body>
</html>
